
html, body {	
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#banner > div, #sidebar > div, #content > div, #footer > div {
	padding: 10px;
}


#banner {
	background-color: #AFEEEE;
	font-size: 400%;
	text-align: center;
	height: 10%;
}

#main {
	height: 85%;
}

#sidebar {
	width: 20%;
	overflow: auto;
	float: left;
	background-color: #ABABAB;
	height: 100%;
}

#content {
	width: 80%;
	overflow: auto;
	float: left;
	background-color: #eedd82;
	height: 100%;
}

#main-footer {
	clear: both;
}

#footer {
	font-size: 75%;
	text-align: center;
	background-color: #f5deb3;
	height: 5%;
	background-color: #AFEEEE;
}


#content > div {
	padding: 10px;
	
}


.code {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  font-family: Consolas,Menlo,"Liberation Mono",Courier,monospace;
}


.box {
  background-color: black;
  color: yellow;
  padding: 5px;
}

.good {
  color: green;
}

.bad {
  color: red;
}

/* center the text in tables */
table th, table tr {
  text-align: center;
}

/* to draw borders around td's and th's in tables */
.bordered, .bordered th, .bordered td {
  border: 2px solid black;
}

/* to give th's and td's padding */
.padded th, .padded td {
  padding: 5px;
}