
/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {	
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#banner > div, #sidebar > div, #content > div, #footer > div {
	padding: 10px;
}


#banner {
	background-color: #AFEEEE;
	font-size: 400%;
	text-align: center;
	height: 10%;
}

#main {
	height: 85%;
}

#sidebar {
	width: 20%;
	overflow: auto;
	float: left;
	background-color: #ABABAB;
	height: 100%;
}

#content {
	width: 80%;
	overflow: auto;
	float: left;
	background-color: #eedd82;
	height: 100%;
}

#main-footer {
	clear: both;
}

#footer {
	font-size: 75%;
	text-align: center;
	background-color: #f5deb3;
	height: 5%;
	background-color: #AFEEEE;
}


#content > div {
	padding: 10px;
	
}
