
.code {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  font-family: Consolas,Menlo,"Liberation Mono",Courier,monospace;
}


.box {
  background-color: black;
  color: yellow;
  padding: 5px;
}

.good {
  color: green;
}

.bad {
  color: red;
}

/* center the text in tables */
table th, table tr {
  text-align: center;
}

/* to draw borders around td's and th's in tables */
.bordered, .bordered th, .bordered td {
  border: 2px solid black;
}

/* to give th's and td's padding */
.padded th, .padded td {
  padding: 5px;
}
