
/* General styles */

#logo {
    background: #fff;
    color: #000;
    font: 100%/1 Arial, Helvetica, sans-serif;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Mako', cursive;    
}

#teamdata {
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    border-spacing: 6px;
    border-style: solid;
    border-color: black;
}

#teamdata th {
    padding: 1px;
}

#teamdata td {
    padding: 20px;
}

#teamdata tr > td:first-child {
    font-weight: bold;
    font-size: 1.5em;    
}

/* Positioning and dimensions */

#logo h1 {
    height: 75px;
    text-align: center;
    font-family: 'Audiowide', cursive;    /** Making the contact special font also. **/
}

#logo h1 span {
    height: 100%;
}

#logo a {
    text-justify:inter-word;
    text-decoration:none;
}

/* Setting the font size, colors */
#css, #day {
    font-size: 48px;
}

#css {
    color: #c00;
    text-decoration: underline;
}
