   /* Generic Selectors */ 

    body { 

    font-family: Georgia, "Times New Roman", Times, serif;

    font-size: 14px; 

    color: #333333;

    background-color: #F9F9F9; 

    } 


    p { 

    width: 80%; 

    }

    li {

    list-style-type: none; 

    line-height: 150%; 

    list-style-image: url(../images/arrowSmall.gif); 

    } 

    h1 { 

    font-family: Georgia, "Times New Roman", Times, serif; 

    font-size: 18px; 

    font-weight: bold; 

    color: #000000; 

    } 

	
    h2 { 

    font-family: Georgia, "Times New Roman", Times, serif; 

    font-size: 16px;

    font-weight: bold; 

    color: #000000; 

    border-bottom: 1px solid #C6EC8C; 

    } 

 
    /**************** Pseudo classes ****************/ 

    :link { 

    color: #00CC00; 

    text-decoration: underline; 

    font-weight: bold; 

    } 


    li :link { 

    color: #00CC00; 

    text-decoration: none; 

    font-weight: bold; 

    } 

    
	:visited { 

    color: #00CC00;

    text-decoration: underline; 

    font-weight: bold; 

    } 


    li :visited { 

    color: #00CC00; 

    text-decoration: none; 

    font-weight: bold; 

    } 

   
    :hover {

    color: rgb(0, 96, 255); 

    padding-bottom: 5px; 

    font-weight: bold;

    text-decoration: underline; 

    } 

    li :hover { 

    display: block; 

    color: rgb(0, 96, 255); 

    padding-bottom: 5px; 

    font-weight: bold; 

    border-bottom-width: 1px; 

    border-bottom-style: solid; 

    border-bottom-color: #C6EC8C; 

    } 


   :active { 

    color: rgb(255, 0, 102); 

    font-weight: bold; 

    } 

   
    /************************* ID's *************************/ 

    #navigation { 

    position: absolute;

    z-index: 10; 

    width: 210px; 

    height: 600px; 

    margin: 0; 

    margin-top: 50px; 

    border-right: 1px solid #C6EC8C; 

    font-weight: normal; 

    } 

   
    #centerDoc { 

    position: absolute; 

    z-index: 15; 

    padding: 0 0 20px 235px; /*top right bottom left*/

    margin-top: 50px; 

    }
